/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
 /* common style */
body{ font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
section{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 1em;
  
}
nav li a{
    text-decoration: none;
}
.content-header{
    width: 234px;
    margin-top: 87px;
    margin-left: 120px;
    font-size: 24px;
    font-weight: 700;
    
}
.header-title{
    display: flex;
    justify-content:end;  
    margin-top: -40px;
    margin-right: 120px;
    margin-bottom: 145px;
}
.fa-solid{
    margin-right: 1em;
    font-size: 20px;
}  
.heading-description-button{
    display: flex;
    flex-direction: column;
    color: black;
    Width: 582px;
    Height: 270px;
   
}
.large-heading{
    display: flex;
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    margin-left: 120px;
    margin-bottom: -10px;
    
}
.description{
    display: flex;
    width: 505px;
    height: 60.9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 120px;
}
.button-mmodify{
    display: flex;
    color: white;
    background-color: #E02C6D; 
    border-color: #E02C6D;
    align-items: center;
    font-weight: 700;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 41px;
    margin-left: 120px;  
}
.fa-arrow-right{
    margin-left: 1em;
    font-size:medium; 
}  
.photo-content{
    display: flex;
    width: 475px;
    height: 475px;
    margin-left: 350px;
    margin-top: -80px;
    
}
.camera-content{
    display: flex;
    position: absolute;
    width: 440px;
    height: 414px;
    margin-left: 950px;
    margin-top: -40px;
}
.brand-name{
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 65px;
    margin: 70px 165px 100px 165px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 10px;
    border-top: 4px solid lightgrey;
    border-bottom: 4px solid lightgrey;
}
.logos{
    margin-right: 2em;
    padding-left: 30px;
}

.collection-title{
    margin: 0 590px 30px 588px;
    
}
.product-item{
    margin-left: 170px;
}
.main-category{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.category-background{
    width: 329px;
    height: 476px;
    background-color: white;
}
.item-name{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    width: 151px;
    height: 40px;
    padding-bottom: 11px;
}
.item-price{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 11px;
}
.item{
   padding-left: 14px;
   padding-top: 17px;
}
.item-description{
    padding-left: 14px;
}
.fa-star, .fa-star-half-stroke{
    color: #ffc014;
}
.product-rating{
    display: flex;  
}
.rating{
    padding-left: 10px;
    align-items: center;
}
.item-info{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
    



/* .first-item-row-1{
    display: grid;
    position: 
    align-items:center;
    justify-content: center;
    top: 1035px;
    left: 196px;
    width: 329px;
    height: 476px;
    background-color: white;
} */
/* .first-item-row-2{
    display: flex;
    position: 
    align-items:center;
    justify-content: center;
    top: 1035px;
    left: 590px;
    width: 329px;
    height: 476px;
    background-color: white;
} */
/* .first-item-row-3{
    display: flex;
    position:
    align-items:center;
    justify-content: center;
    top: 1035px;
    left: 980px;
    width: 329px;
    height: 476px;
    background-color: white;
} */

/* .second-item-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: 
    grid-column-gap: 110px;
    top: 1541px;
    left: 196px;
    width: 329px;
    height: 476px;
} */
/* .third-item-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: 
    top: 2047px;
    left: 196px;
    column-gap: 30px;
} */
/* .item-name{
    display: flex;
    font-size: 28px; 
    font-weight: 500;
    margin-block-start: 0;
} */
/* .fa-star{
    display: flex;
    
    
} */
/* .icon{
    display: flex;
    color: darkgoldenrod;
} */
/* #tripod{
    display: flex;
    width: 300px;
    height: 256px;
    top: 1052px;
    left: 210px;
} */
/* .item-1{
    background-size: 100px 100px;
    background-color: white;
} */
